/* CarruselResenia.css */

.resenia-card {
  background-color: #254630; /* Verde transparente */
  color: #ffffff;
  border: 1px solid #1aaf4b; /* Borde verde claro */
  height: 350px; /* Altura fija importante para el diseño */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 0 10px;
  padding: 20px;
  overflow: hidden;
  /* Sombra suave */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); 
}

.resenia-comentario {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 10px;
  flex: 1; /* Ocupa el espacio disponible */
  
  /* MAGIA DEL LINE CLAMP (Corta el texto con ...) */
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Máximo 5 líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.resenia-user {
  color: #1aaf4b;
  font-weight: bold;
  margin-top: auto; /* Empuja el nombre siempre al fondo */
  font-size: 1.2rem;
}